<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.srdbolla.sqlitePlugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>SqlitePlugin</name>
    <js-module name="SqlitePlugin" src="www/SqlitePlugin.js">
        <clobbers target="cordova.plugins" />
    </js-module>
    
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="SqlitePlugin">
                <param name="ios-package" value="SqlitePlugin" />
            </feature>
        </config-file>
        <source-file src="src/ios/SqlitePlugin.swift" />
        <source-file src="src/ios/DatabasePath.swift" />
        <source-file src="src/ios/SQLiteDatabase.swift" />
        <header-file src="src/ios/Bridging-Header.h" type="BridgingHeader" />
    </platform>
    
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="SqlitePlugin">
                <param name="android-package" value="com.srdbolla.sqlitePlugin.SqlitePlugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
        </config-file>
        <source-file src="src/android/SqlitePlugin.java" target-dir="src/com/srdbolla/sqlitePlugin/SqlitePlugin" />
    </platform>
</plugin>